{% extends 'base.html.twig' %}

{% block title %} Modifier Article{% endblock %}

{% block body %}
    <h1 class="mb-4">Modifier Article : {{ form.vars.value.nom }}</h1>
    
      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="mb-3">
            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.prix, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        {# Le bouton 'save' contient ici l'étiquette 'Modifier' (définie dans le contrôleur) #}
        <button type="submit" class="btn btn-warning">Modifier</button>
    {{ form_end(form) }}
    
{% endblock %}